# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

dist/
call-tree-analyzer-*.jar
*.txt
*.html
*.csv
*.tsv
*.json
*.graphml
*.xlsx

